@import "tailwindcss";

@font-face {
    font-family: "poppins";
    src: url(../fonts/Poppins-Regular.ttf);
}
*{
    font-family: poppins;

}
*::-webkit-scrollbar{
    display: none;
}
.custom-date::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }